.home {
  background: linear-gradient(to top, theme('colors.gray.100') 75%, theme('colors.white'));
}

.home__illus-wrapper {
  @apply relative -mr-4 overflow-hidden;
  height: 300px;
}

.home__illus {
  @apply absolute top-0 bottom-0;
  right: -135px;
}

.home__vertical-line {
  @apply bg-no-repeat bg-center;
  background-image: linear-gradient(theme('colors.cyan.200'), theme('colors.cyan.200'));
  background-size: 8px 100%;
}
