.home {
  background: linear-gradient(to top, theme('colors.gray.100') 60%, theme('colors.white'));

  @screen desktop {
    background: linear-gradient(to top, theme('colors.gray.100') 35%, theme('colors.white'));
  }
}

.home__illus-wrapper {
  @apply relative -mr-4 overflow-hidden;
  height: 280px;

  @screen sm {
    @apply w-6/12 order-last;
  }

  @screen tablet {
    @apply w-7/12;
    height: 350px;
  }

  @screen desktop {
    @apply mr-0;
    height: 450px;
  }
}

.home__illus {
  @apply absolute top-0 bottom-0;
  right: -135px;

  @screen desktop {
    right: -190px;
  }
}

.home__vertical-line {
  @apply bg-no-repeat bg-center;
  background-image: linear-gradient(theme('colors.cyan.200'), theme('colors.cyan.200'));
  background-size: 8px 100%;
}
