.btn {
  @apply inline-flex content-center justify-center items-center pl-4 pr-4 bg-cyan-200 text-white font-bold rounded-full;
  height: 48px;
  min-width: 170px;
}

.btn:hover {
  @screen desktop {
    @apply bg-cyan-100 text-indigo-100;
    transition: all .2s ease;
  }
}

.btn--secondary {
  @apply bg-purple-100;
}

.btn--secondary:hover {
  @screen desktop {
    @apply bg-purple-100 text-white cursor-not-allowed;
  }
}

.btn--rect {
  @apply rounded-md;
}

.btn--disabled {
  @apply bg-gray-100 text-indigo-100 cursor-not-allowed;
}

.btn--disabled:hover {
  @screen desktop {
    @apply bg-gray-100;
  }
}
