.menu {
  @apply fixed right-0 left-0 overflow-x-hidden overflow-y-auto;
  top: 74px;
  height: calc(100vh - 64px);
}

.menu__backdrop {
  @apply fixed right-0 bottom-0 left-0 bg-white bg-opacity-80 z-10;
  top: 64px;
}

.menu__content {
  @apply fixed right-0 left-0 bg-purple-100 my-4 mx-3 py-8 px-6 rounded-xl text-center z-20;
}
