.value-prop-card {
  @apply relative w-full px-6 pb-8 bg-white rounded-lg;
  padding-top: 60px;
}

.value-prop-card__icon-wrapper {
  @apply absolute flex items-center justify-center bg-purple-100 rounded-full;
  top: -40px;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translateX(-50%);
}
